$granite: #32373b;
$light-orange:#FFB300;
$dark-orange-border: #F17105;
$very-light-orange: #fff3cd;
.form-control{
    background-color: $granite;
    border:1px solid $light-orange;
    color: $light-orange;
    &::placeholder{
        color:$light-orange;
    }
}  
.form-control:focus {
    background-color: $granite;
    color: $light-orange;
    outline: none !important;
    border:1px solid $light-orange;
    box-shadow: 0 0 10px $light-orange;
}
.city-choice{
  color: $light-orange !important;
  background: $granite !important;
}
.btn-selection{
    color: $light-orange;
    background-color: $granite;
    border: 1px solid $light-orange;
    &:focus{
        outline: none !important;
        border:1px solid $light-orange;
        box-shadow: 0 0 10px $light-orange;
      }
      &:hover{
          color: $light-orange;
      }
}

.center{
    margin: 0 auto;
}
  .custom-checkbox .custom-control-input.my-checkbox~.custom-control-label::before{
    top:0.5rem;
    border: 2px solid $light-orange;
    background-color: $granite;
    outline: none !important;
    box-shadow: none;
  }
  .custom-checkbox .custom-control-input.my-checkbox~.custom-control-label::after{
    top:0.5rem;
}


  .modal-title{
      color: $light-orange;
  }
  .modal-content{
      background-color: $granite;
  }
  .dropdown-menu.show{
      max-height: 100px;
      background-color: $granite;
      border: 1px solid $light-orange;
  }
  .bs-searchbox{
      background-color: $granite;
      &:focus{
        background-color: $granite;
      }
  }
 .dark-bg{
     background-color: $granite;
     color:$light-orange;
 }
 .my-label{
     color:$light-orange;
     font-size: 20px;
 }
 .my-label p{
     display: inline;
 }
 .discipline-icon{
     width: 20px;
     height: 20px;
     margin-left: 10px;
     margin-bottom:5px;
 }
 .bootstrap-select .dropdown-toggle .filter-option-inner-inner{
     color:$light-orange;
 }
 .bootstrap-select .dropdown-toggle:focus{
     outline: none !important;
 }
 .orange-text{
     font-size: 1rem;
     color:$light-orange;
 }
 .photo-link{
     position: relative;
     &:hover .trainers-photo{
        opacity: 0.3;
    }
    &:hover .image-controls{
        opacity: 1;
    }
 }
 .trainers-photo{
     width: 200px;
     height: 200px;
     margin:2px;
     border: 2px solid $light-orange;
     border-radius: 2px;
     transition: .5s ease;
     backface-visibility: hidden;
 }
 .image-controls{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index:1;
    &:hover{
        opacity:1;
    }
 }
 .btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .close-preview{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    top: 2vh;
    right: 1vw;
  }
.modal-icon{
    color: $light-orange;
    margin: 0 auto;
    &:hover{
        color: $dark-orange-border;
    }
}
#image-gallery{
    width: 100vw;
    height: 100vh;
    padding-left: 0 !important;
  }
.photo-preview{
    width:98%;
    height: 97%;
    margin:1% 1%;
    display: inline-grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}
.gallery-arrow-left{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover .modal-icon{
        color: $dark-orange-border;
    }
}
.gallery-arrow-right{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover .modal-icon{
        color: $dark-orange-border;
    }
}
#big-photo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 70vw;
    max-height: 90vh;
    margin: auto;
    object-fit: contain;
}
