.form-control {
  background-color: #32373b;
  border: 1px solid #FFB300;
  color: #FFB300;
  min-width: 100%;
}

.form-control::-webkit-input-placeholder {
  color: #FFB300;
}

.form-control::-moz-placeholder {
  color: #FFB300;
}

.form-control:-ms-input-placeholder {
  color: #FFB300;
}

.form-control::-ms-input-placeholder {
  color: #FFB300;
}

.form-control::placeholder {
  color: #FFB300;
}

.form-control-file {
  color: #FFB300;
}

.form-control:focus {
  background-color: #32373b;
  color: #FFB300;
  outline: none !important;
  border: 1px solid #FFB300;
  box-shadow: 0 0 10px #FFB300;
}

.city-choice {
  color: #FFB300 !important;
  background: #32373b !important;
}

.btn-selection {
  color: #FFB300;
  background-color: #32373b;
  border: 1px solid #FFB300;
}

.btn-selection:focus {
  outline: none !important;
  border: 1px solid #FFB300;
  box-shadow: 0 0 10px #FFB300;
}

.btn-selection:hover {
  color: #FFB300;
}

.center {
  margin: 0 auto;
}

.custom-checkbox .custom-control-input.my-checkbox ~ .custom-control-label::before {
  top: 0.5rem;
  border: 2px solid #FFB300;
  background-color: #32373b;
  outline: none !important;
  box-shadow: none;
}

.custom-checkbox .custom-control-input.my-checkbox ~ .custom-control-label::after {
  top: 0.5rem;
}

.trener{
  border: 2px solid #9c3151;
  background-color: #fded5d;
}
.text-name
{
  margin-left: 50%;

  color: black;
}

.text-oder
{
  margin-left: 4%;
}

.modal-title {
  color: #FFB300;
}

.modal-content {
  background-color: #32373b;
}

.dropdown-menu.show {
  max-height: 100px;
  background-color: #32373b;
  border: 1px solid #FFB300;
}

.bs-searchbox {
  background-color: #32373b;
}

.bs-searchbox:focus {
  background-color: #32373b;
}

.dark-bg {
  background-color: #32373b;
  color: #FFB300;
}

.my-label {
  color: #FFB300;
  font-size: 20px;
}

.my-label p {
  display: inline;
}

.discipline-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.box
{
background: none;
margin-left: 2.5%;
margin-top: 2.5%;
  min-width: 17%;
  max-width: 17%;
  min-height: 75px;
  max-height: 75px;
}
.find
{
  display: block;
  opacity: 0.25;
}
.find1
{
  display: block;
  opacity: 1;
}
.text
{

  color: white;
}
.wielkosc
{
  min-width: 24%;
  max-width: 24%;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: #FFB300;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.orange-text {
  font-size: 1rem;
  color: #FFB300;
}

.avatars {
  border-radius: 50%;
}
