.form-control {
  background-color: #32373b;
  border: 1px solid #FFB300;
  color: #FFB300;
}

.form-control::-webkit-input-placeholder {
  color: #FFB300;
}

.form-control::-moz-placeholder {
  color: #FFB300;
}

.form-control:-ms-input-placeholder {
  color: #FFB300;
}

.form-control::-ms-input-placeholder {
  color: #FFB300;
}

.form-control::placeholder {
  color: #FFB300;
}

.form-control:focus {
  background-color: #32373b;
  color: #FFB300;
  outline: none !important;
  border: 1px solid #FFB300;
  box-shadow: 0 0 10px #FFB300;
}

.city-choice {
  color: #FFB300 !important;
  background: #32373b !important;
}

.btn-selection {
  color: #FFB300;
  background-color: #32373b;
  border: 1px solid #FFB300;
}

.btn-selection:focus {
  outline: none !important;
  border: 1px solid #FFB300;
  box-shadow: 0 0 10px #FFB300;
}

.btn-selection:hover {
  color: #FFB300;
}

.center {
  margin: 0 auto;
}

.custom-checkbox .custom-control-input.my-checkbox ~ .custom-control-label::before {
  top: 0.5rem;
  border: 2px solid #FFB300;
  background-color: #32373b;
  outline: none !important;
  box-shadow: none;
}

.custom-checkbox .custom-control-input.my-checkbox ~ .custom-control-label::after {
  top: 0.5rem;
}

.modal-title {
  color: #FFB300;
}

.modal-content {
  background-color: #32373b;
}

.dropdown-menu.show {
  max-height: 100px;
  background-color: #32373b;
  border: 1px solid #FFB300;
}

.bs-searchbox {
  background-color: #32373b;
}

.bs-searchbox:focus {
  background-color: #32373b;
}

.dark-bg {
  background-color: #32373b;
  color: #FFB300;
}

.my-label {
  color: #FFB300;
  font-size: 20px;
}

.my-label p {
  display: inline;
}

.discipline-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: #FFB300;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.orange-text {
  font-size: 1rem;
  color: #FFB300;
}

.trainers-photo {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.btn:focus,
.btn:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.close-preview {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  position: absolute;
  top: 2vh;
  right: 1vw;
}

.modal-icon {
  color: #FFB300;
  margin: 0 auto;
}

.modal-icon:hover {
  color: #F17105;
}

#image-gallery {
  width: 100vw;
  height: 100vh;
  padding-left: 0 !important;
}

.photo-preview {
  width: 98%;
  height: 97%;
  margin: 1% 1%;
  display: inline-grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.gallery-arrow-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-arrow-left:hover .modal-icon {
  color: #F17105;
}

.gallery-arrow-right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-arrow-right:hover .modal-icon {
  color: #F17105;
}

#big-photo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 70vw;
  max-height: 90vh;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

